/* Resets */
body, p, ul {
    margin: unset;
    padding: unset;
}
h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}
li {
    list-style-type: none;
}
/* Typography */
:root {
    font-family: 'Montserrat', 'arial', sans-serif;
}
/* Layouts */
.l_wrapper {
    box-shadow: inset 0 0 20px red;
    margin: 0 auto;
    padding: 92px 0 100px 0;
    width: 1080px;
}
.top-l_row {
    box-shadow: inset 0 0 20px red;
    display: flex;
    flex-direction: column;
}
.top-l_col {
    box-shadow: inset 0 0 20px blue;
    height: 33.33%;
    flex-shrink: 0;
    padding: 30px 0;
    box-sizing: border-box;
}
/* Components */

/* Header */
.top {
    width: 1920px;
    height: 930px;
    background-color: #6230A2;
    /* display: none; */
}
.top-header {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.top-header-title {
    font-size: 40px;
    width: 258px;
    height: 134px;
    color: white;
}
.top-header-title::before {
    content: '';
    background-color: #FF4500;
    position: absolute;
    bottom: 38px;
    z-index: -1;
    width: 245px;
    height: 25px;
}
.top-header-title::after {
    content: '';
    background-color: #FF4500;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: -1;
    width: 195px;
    height: 25px;
}
.top-header-contents {
    width: 582px;
    height: 68px;
    margin: 31px 142px 35px auto;
    font-size: 14px;
    line-height: 18px;
    color: #C89DFF;
}
.top-header-contents > p {
    width: 460px;
    margin-left: 32px;
}
.top-header-contents::before {
    content: '';
    position: absolute;
    left: 267px;
    top: 64px;
    width: 90px;
    height: 1px;
    background-color: #C89DFF;
}
.main-content {
    display: flex;
}
.rest {
    box-shadow: inset 0 0 20px red;
}
.rest-cover {
    box-shadow: inset 0 0 20px blue;
    position: relative;
}
.rest-cover img {
    width: 280px;
    height: 148px;
}
.rest-cover h2 {
    position: absolute;
    inset: 0;
}
.rest-contents {
    box-shadow: inset 0 0 20px purple;
}
.rest-contents h3 {

}
.rest-contetns ul 

.craft {
    box-shadow: inset 0 0 20px green;
}
.scrap {
    box-shadow: inset 0 0 20px orangered;
}

.bottom-header {
    display: flex;
}
.bottom {
    width: 1920px;
    height: 975px;
    background-color: #FFF5ED;
}
.bottom-header {
    position: relative;
    z-index: 1;
}
.bottom-header-title {
    font-size: 40px;
    width: 360px;
    height: 90px;
    color: #F98173;
}
.bottom-header-title::after {
    content: '';
    width: 290px;
    height: 30px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -1;
}
.bottom-header-contents {
    margin: 21px 0 21px auto;
    width: 208px;
    height: 48px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    line-height: 47px;
    font-size: 16px;
    font-weight: blod;
    padding: 0 14px 4px 14px;
    background-color: #FF4500;
    border-radius: 4px;
}
.bottom-header-contents::before {
    content: '+';
    color: white;
}

/* Main */